<!DOCTYPE html>
<html>
<head>
  <title>Yodaish</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<section class="about">

		<p id="start">A short time ago in a browser very, very close&hellip;</p>

		<h1>STAR WARS<sub>Yodaish Wisdoms</sub></h1>

		<div id="titles">
			<div id="titlecontent">
				<p class="center">Yodaish<br />Your new guilty pleasure</p>
				<p>It is a period of boredom. Mother nature, striking from the world above, has won her first victory against the thought of the warmer Spring temperatures and fun in the sun</p>
				<p>During the winter battle, General Assembly spies managed to steal the secret API to the Empire's ultimate weapon, YODDISH, a hilarious Yoda text translator with enough power to bust your gut</p>
				<p>Pursed by te Empire's sinister agents, the General Assembly students race home to log on to the Yodaish website, with hopes that in this cold, rainy winter that Yodaish restore the freedom and hilarity to the galaxy...</p>
			</div>
		</div>

</section>

</body>
</html>