	<!DOCTYPE html>
<html>
<head>
  <title>Yodaish</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<section class="cover">
		<section class="layout">
			<div class="ground"></div>
			<div class="robot"></div>
			<div class="leg"></div>
			<div class="fighter"></div>
			<div class="ground-fire-one"></div>
			<div class="ground-fire-two"></div>
			<div class="ground-fire-three"></div>
			<div class="ground-fire-four"></div>
			<div class="ground-fire-five"></div>
			<div class="ground-fire-six"></div>
			<div class="ground-fire-seven"></div>
			<div class="ground-fire-eight"></div>
			<div class="ground-fire-nine"></div>
			<div class="ground-fire-ten"></div>
			<div class="ground-fire-eleven"></div>
			<div class="ground-fire-twelve"></div>
			<div class="ground-fire-thirteen"></div>
			<div class="ground-fire-fourteen"></div>
			<div class="ground-fire-fifteen"></div>
			<div class="smoke-one"></div>
			<div class="smoke-two"></div>
			<div class="big-planet"></div>
			<div class="black-planet"></div>
			<div class="black-planet-star1"></div>
			<div class="black-planet-star2"></div>
		

			<div class="jet-one"></div>
				<div class="fire-one"></div>
			<div class="jet-two"></div>
				<div class="fire-two"></div>
			<div class="jet-five"></div>
				<div class="fire-five"></div>
			<div class="jet-six"></div>
				<div class="fire-six"></div>
			<div class="jet-seven"></div>
				<div class="fire-seven"></div>
			<div class="jet-eight"></div>
				<div class="fire-eight"></div>
			<div class="jet-nine"></div>
				<div class="fire-nine"></div>
			<div class="jet-ten"></div>
				<div class="fire-ten"></div>
			<div class="jet-eleven"></div>
				<div class="fire-eleven"></div>
			<div class="jet-twelve"></div>
				<div class="fire-twelve"></div>
			<div class="jet-thirteen"></div>
				<div class="fire-thirteen"></div>
										

	</section>
</section>
</body>
</html>